body {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.middle {
  margin-top: 4%;
}

#w0 {
	margin-top:15%;
}

header h1 {
	color: #F5F5F5;
	text-shadow: 3px 1px 1px #000;
	font-size: 42px;
	font-weight: 600;
	word-wrap: break-word;
}

header h1 small {
	color: #EEEEEE;
}

footer a {
	color: #F5F5F5;
	text-shadow: 2px 2px 2px #000;
}